.dashboard-page {
    display: flex;
    max-width: 110rem;
    justify-content: center;
    min-height: 85vh;
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-page {
        margin-top: 0;
        flex-direction: column;
    }
}