.dashboard-skills {
    margin: $m-size;
    width: 100rem;

    &__container {
        box-sizing: border-box;
        padding: 0 $xs-size; 
        width: 100%;
    }
    &__header {
        align-items: center;
        background: rgba(255, 255, 255, 0.95);
        display: flex;
        margin: 0 $xs-size $m-size $xs-size;
        padding: 0 $s-size;
    }
    &__title {
        color: #606060;
        flex: 5;
        font-size: $font-size-large;
    }
    &__button {
        color: var(--main-color--lighten-15);
        border: none;
        box-shadow: $drop-shadow;
        // border-bottom: 3px solid var(--main-color);
        box-sizing: border-box;
        background: var(--secondary-color--darken-15);
        flex: 1;
        font-family: 'Jura', sans-serif;
        font-size: $font-size-medium;
        padding: 1.8rem;
    }
    &__list-titles {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        margin: $m-size 0 0 0;
    }
    &__list-title {
        background: none;
        box-sizing: border-box;
        color: white;
        font-size: $font-size-large;
        font-weight: bold;
        padding: 0 0 1rem 0;
        text-align: center;
        width: 100%;
    
        &--inprogress {
            @extend .dashboard-skills__list-title;
        }
        &--active {
            font-weight: 600;
            text-decoration: underline;
        }
    }
    &__lists {
        display: flex;
        width: 100%;
    }
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-skills {    
        margin: 0;
        width: 100vw;

        &__button {
            margin-bottom: $xs-size;
            width: 100%;
        }
        &__list-title {
            background: rgba(255, 255, 255, 0.95);
            border-radius: 1rem 1rem 0 0;
            margin-right: .25rem;
            padding: .5rem 0 0 0;
            width: 50%;
    
            &--inprogress { 
                margin-left: 0.25rem;
                margin-right: 0;
            }
        }
    }
}