.dashboard-sidebar {
    background: var(--main-color);
    box-sizing: border-box;
    min-height: 85vh;
    max-width: 25rem;
    padding: $xs-size;
    top: 0;
    width: 100%;
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-sidebar__container {
        margin: 0;
    }
    .dashboard-sidebar {
        border-radius: 0;
        min-height: auto;
    }
}