.dashboard-page {
    // background: linear-gradient($light-color, darken($light-color, 5%));
    background: white;
    border-top: 2px solid $light-gray;
    display: flex;
    max-width: 110rem;
    justify-content: center;
    min-height: 85vh;
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-page {
        flex-direction: column;
        justify-content: start;
        margin-top: 0;
        max-width: auto;
    }
}