.dashboard-skills {
    margin: 0 $xs-size;
    width: 65%;
}

.dashboard-skills__container {
    width: 100%;
}

.dashboard-skills__title {
    font-size: $font-size-xlarge;
    margin: 0;
    text-align: center;
}

.dashboard-skills__list-titles {
    background: $green;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 3px 10px #b9b9b9;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: $m-size $xs-size 0 $xs-size;
}

.dashboard-skills__list-title {
    box-sizing: border-box;
    color: white;
    font-size: 3rem;
    padding-top: .5rem;
    text-align: center;
    width: 50%;
}
.dashboard-skills__list-title--active {
    font-weight: 600;
    text-decoration: underline;
}

.dashboard-skills__lists {
    display: flex;
    width: 100%;
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-skills {    
        margin: 0;
        margin-top: $s-size;
        width: 100vw;
    }
    .dashboard-skills__title {
        font-size: 2.5rem;
    }
}