.dog-card {
    align-items: center;
    background: var(--main-color--lighten-5);
    border-left: 2rem solid var(--main-color--lighten-15);
    border-radius: 1rem;
    color: black;
    display: flex;
    height: 75px;
    margin-bottom: $s-size;
    padding: $s-size $s-size $s-size 0;
    min-width: 250px;

    h3 {
        color: var(--secondary-color--darken-15);
        font-size: 3rem;
        margin-left: 5px;
    }
}

.dog-card--active {
    background: var(--main-color--lighten-10);
    border-left: 2rem solid var(--main-color--lighten-25);
}

.dog-card__button {
    background: var(--main-color--lighten-15);
    border: none;
    border-radius: 1rem;
    color: var(--secondary-color--darken-15);
    padding: $xs-size $m-size;

    &:focus {
        outline: none;
    }
}

.dog-card__picture {
    background: #ffffffcc;
    height: 75px;
    object-fit: cover;
    width: 75px;
}
.dog-card__picture--name-card {
    background: #ffffffcc;
    border-radius: 1rem;
    height: 50px;
    margin-left: 5px;
    width: 50px;
}