.dog-card {
    align-items: center;
    background: var(--main-color--lighten-5);
    border-left: 2rem solid var(--main-color--lighten-15);
    // border-radius: 1rem;
    color: var(--secondary-color--darken-15);
    display: flex;
    font-size: 1.8rem;
    height: 5rem;
    margin-bottom: $s-size;
    padding: $s-size $s-size $s-size 0;
    min-width: 20rem;
    transition: 0.5s all;
    width: 100%;
    word-wrap: break-word;

    &__name {
        color: var(--secondary-color--darken-15);
        font-size: 1.8rem;
        margin-left: 5px;
        width: 75%;
    }
    &--active {
        background: var(--main-color--lighten-10);
        border-left: 2rem solid var(--main-color--lighten-25);
        transform: scale(1.15);
        transition: 0.5s all;
    }
    &__button {
        background: var(--main-color--lighten-15);
        border: none;
        border-radius: 1rem;
        color: var(--secondary-color--darken-15);
        padding: $xs-size $m-size;
    
        &:focus {
            outline: none;
        }
    }
    &__picture {
        background: #ffffffcc;
        height: 5rem;
        object-fit: cover;
        width: 5rem;

        &--name-card {
            background: #ffffffcc;
            border-radius: 1rem;
            height: 50px;
            margin-left: 5px;
            width: 50px;
        }
    }
}

@media (max-width: $desktop-breakpoint) {
    .dog-card {
        &--active {
            transform: scale(1.0);
        }
    }
}