.dog-list {
    width: 100%;

    a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
        &:visited {
            color: white;
        }
    }
}

.dog-list__buttons {
    display: flex;
    flex-direction: column;
}

.dog-list__button {
    background: var(--secondary-color);
    border: none;
    box-sizing: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size-medium;
    line-height: 1;
    margin-top: $s-size;
    padding: $xs-size;
    text-align: center;
    width: 100%;
}

@media (max-width: $desktop-breakpoint) {
    .dog-list {
        margin: $s-size 0;
    }
    .dog-list__buttons {
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .dog-list__button, .dog-list a{
        width: 30vw;
    }
}