.getting-started {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 110rem;
}

.getting-started__title {
    font-size: $font-size-xlarge;
    text-align: center;
}

.getting-started__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.getting-started__text-input {
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    font-size: $font-size-medium;
    margin-bottom: $l-size;
    padding-left: 5px;

    &:focus {
        outline: none;
    }
}

.getting-started__button {
    @extend .getting-started__text-input;

    background: var(--secondary-color--lighten-10);
    border: 3px solid var(--secondary-color);
    color: white;
    padding: $xs-size;
}
