.settings-page__title {
    margin-left: $l-size;
}

.settings-page__board {
    border: 1rem solid var(--secondary-color);
    border-radius: 1rem;
    font-size: 125%;
    margin: $l-size;
    padding: $m-size;
}

.settings-page__subtitle {
    color: var(--secondary-color);
}

.settings-page__board__tile {
    align-items: center;
    background: var(--main-color--lighten-10);
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    padding: .5rem;
}

.settings-page__text-input {
    background: white;
    border: none;
    border-bottom: 2px solid var(--main-color);

    &:focus {
        outline: none;
    }
}

.settings-page__button {
    background: var(--secondary-color);
    border: 3px solid var(--main-color--lighten-10);
    border-radius: 1rem;
    box-sizing: none;
    color: white;
    padding: $xs-size;
}
.settings-page__button--warning {
    @extend .settings-page__button;
    margin: 1rem;
}

.settings-page__button-group {
    display: flex;
    flex-direction: column;
}


.warning-modal__container {
    align-items: center;
    background: #FFFFFF99;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.warning-modal {
    align-items: center;
    background: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-around;
    position: relative;
    width: 50rem;
    z-index: 1;
}

.warning-modal__message {
    color: white; 
    margin: $m-size;
    text-align: center;
}
.theme-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
}
.theme-button {
    background: linear-gradient(45deg, hsl(112, 65%, 75%), hsl(92, 44%, 59%));
    border: none;
    border-radius: 1rem;
    height: $l-size;
    margin: 0 $xs-size;
    width: $l-size;

    &:focus {
        outline: none;
    }
}
.theme-button--blue {
    @extend .theme-button;
    background: linear-gradient(45deg, hsl(204, 65%, 75%), hsl(204, 44%, 59%))
}
.theme-button--orange {
    @extend .theme-button;
    background: linear-gradient(45deg, hsl(26, 65%, 75%), hsl(26, 44%, 59%))
}
.theme-button--pink {
    @extend .theme-button;
    background: linear-gradient(45deg, hsl(332, 65%, 75%), hsl(332, 44%, 59%))
}

@media (max-width: $desktop-breakpoint) {
    .settings-page__title {
        font-size: $font-size-medium;
        margin: 0 0 0 $xs-size;
    }
    .settings-page__board {
        border-left: none; border-right: none;
        border-radius: 0;
        margin: 0;
    }
    .warning-modal {
        width: 90vw;
    }
}