.skills-form__window {
    align-items: center;
    background: #FFFFFF99;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.skills-form__container {
    align-items: center;
    background: white;
    border: 1rem solid $dark-green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $l-size;
    position: relative;
}

.skills-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 $xs-size $m-size $xs-size;
    padding: $s-size $xs-size;
}

.skills-form__required {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.skills-form__text-input {
    border: none;
    border-bottom: 3px solid $dark-green;
    font-size: $font-size-medium;
    padding-left: 5px;
    width: 50%;

    &:focus {
        outline: none;
    }
}

.skills-form__select-input {
    @extend .skills-form__text-input;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;

    div {
        padding: $s-size;
    }
    input {
        -webkit-appearance: radio;
        appearance: radio;
    }
    label {
        padding-left: 5px;
    }
}

.skills-form__textarea {
    border: 2px solid $green;
    margin: $s-size $xs-size 0 $xs-size;
    padding: $m-size $xs-size;
    width: 70%;
}

.skills-form__button {
    @extend .skills-form__select-input;

    background: lighten($dark-green, 10%);
    border: 3px solid $dark-green;
    color: white;
    display: block;
    flex-direction: inherit;
    padding: $xs-size;
}

.skills-form__error {
    text-align: center;
}

@media (max-width: $desktop-breakpoint) {
    .skills-form {
        flex-direction: column;
    }
    .skills-form__required {
        flex-direction: column;
    }
    .skills-form__text-input, .skills-form__select-input, .skills-form__button {
        margin-bottom: $s-size;
        width: 100%;
    }
    .skills-form__select-input {
        flex-direction: row;
        justify-content: space-around;
    }
    .skills-form__textarea {
        width: 100%;
    }
    .skills-form__button {
        margin-bottom: 0;
    }
}