.skills-form__window {
    align-items: center;
    background: #FFFFFF99;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.skills-form {
    background: white;
    border: 1rem solid $green;
    display: grid;
    grid-gap: $m-size;
    grid-template-areas: 
        'title title'
        'textInput radioInput'
        'textArea textArea'
        'formButton formButton';
    position: relative;
}

.skills-form__title {
    grid-area: title;
    margin: $m-size $m-size 0 $m-size;
    text-align: center;
}
.skills-form__error {
    text-align: center;
}

.skills-form__text-input {
    border: none;
    border-bottom: 3px solid $dark-green;
    font-size: $font-size-medium;
    grid-area: textInput;
    margin: $m-size $m-size 0 $m-size;
    width: 20rem;

    &:focus {
        outline: none;
    }
}
.skills-form__radio-input {
    grid-area: radioInput;
    margin: $m-size $m-size 0 $m-size;
    width: 15rem;

    #in-progress, #completed {
        appearance: radio;
        -moz-appearance: radio;
        -webkit-appearance: radio;
        margin-right: 5px;
    }
}

.skills-form__textarea {
    border: 2px solid $green;
    grid-area: textArea;
    height: 5rem;
    margin: $m-size $m-size 0 $m-size;
}

.skills-form__button {
    background: lighten($dark-green, 10%);
    border: 3px solid $dark-green;
    color: white;
    grid-area: formButton;
    margin: 0 $m-size $m-size $m-size;
}

@media (max-width: $desktop-breakpoint) {
    .skills-form {
        grid-template-areas: 
            'title'
            'textInput'
            'radioInput'
            'textArea'
            'formButton';
        width: 95vw;
    }
    .skills-form__text-input, .skills-form__radio-input, .skills-form__button {
        width: auto;
    }
    .skills-form__radio-input {
        display: flex;
        justify-content: space-around;

        label {
            font-size: $font-size-medium;
        }
    }
}