.skills-list {
    background: linear-gradient(var(--main-color), var(--secondary-color));
    box-shadow: 0px 8px 10px #24242415;
    border-radius: 7px;
    margin: 0 $xs-size $xs-size $xs-size;
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;

    &--inprogress {
        @extend .skills-list;
    }
    &--inactive {
        display: none;
    }
}

.skills-list__message {
    color: white;
    margin: $xs-size;
    padding: $s-size;
}

@media (max-width: $desktop-breakpoint) {
    .skills-list {
        margin: 0 0 $xs-size 0;
        padding: 1rem;
    }
    
}