.skills-list {
    background: white;
    border: 1rem solid var(--main-color);
    margin: 0 $xs-size $xs-size $xs-size;
    width: 100%;

    &--inprogress {
        @extend .skills-list;
        border: 1rem solid var(--secondary-color--lighten-10);
    }
    &--inactive {
        display: none;
    }
}

.skills-list__message {
    margin: $xs-size;
    padding: $s-size;
}

@media (max-width: $desktop-breakpoint) {
    .skills-list {
        border: .5rem solid var(--main-color);
        margin: 0 0 $xs-size 0;

        &--inprogress {
            border: 0.5rem solid var(--secondary-color--lighten-10);
        }
    }
    
}