.skills-list {
    background: white;
    border: 1rem solid var(--main-color);
    border-radius: 1rem;
    margin: 0 $xs-size $xs-size $xs-size;
    width: 100%;
}
.skills-list--inprogress {
    @extend .skills-list;
    border: 1rem solid var(--secondary-color--lighten-10);
}
.skills-list--inactive {
    display: none;
}

.skills-list__message {
    margin: $xs-size;
    padding: $s-size;
}

@media (max-width: $desktop-breakpoint) {
    .skills-list {
        border-radius: 0 0 1rem 1rem;
    }
}