.skill-card {
    align-items: center;
    background: hsla(113, 60%, 80%, 0.333);
    // border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    margin: 0 $xs-size $xs-size $xs-size;
    padding: .5rem;

    &:last-child {
        margin: 0 $xs-size 0 $xs-size;
        border: none;
    }
}

.skill-card__title {
    font-size: 1.6rem;

    &--clickable {
        cursor: pointer;
    }
}

.skill-card__buttons {
    display: flex;
    justify-content: space-between;
}

.skill-card__button {
    background: none;
    border: none;
    color: #909090;
    padding: .5rem;
 }
.skill-card__button--inprogress {
    @extend .skill-card__button;
}

.skill-fade-enter {
    opacity: 0;
}
.skill-fade-enter-active {
    opacity: 1;
    transition: .2s ease-in all
}
.skill-fade-leave {
    opacity: 1;
}
.skill-fade-leave-active {
    opacity: 0;
    transition: .2s ease-in all
}

@media (max-width: $desktop-breakpoint) {
    .skill-card {
        padding: $xs-size;
    }
    .skill-card__title {
        font-size: $font-size-medium;
    }
}