////////////
// COLORS //
////////////
$light-color: rgb(250, 250, 250);
$light-gray: #f0f0f0;
$drop-shadow: 0px 8px 10px rgba(36, 36, 36, 0.2);

:root {
    --main-color: hsl(112, 65%, 75%);
    --main-color--lighten-5: hsl(112, 65%, 80%);
    --main-color--lighten-10: hsl(112, 65%, 85%);
    --main-color--lighten-15: hsl(112, 65%, 90%);
    --main-color--lighten-20: hsl(112, 65%, 95%);
    --main-color--lighten-25: hsl(112, 65%, 100%);
    --secondary-color: hsl(112, 44%, 59%);
    --secondary-color--lighten-10: hsl(112, 44%, 69%);
    --secondary-color--lighten-15: hsl(112, 44%, 74%);
    --secondary-color--darken-15: hsl(112, 44%, 44%);
}

// Font Sizes //
$font-size-small: 1.2rem;
$font-size-medium: 1.6rem;
$font-size-large: 2.4rem;
$font-size-xlarge: 5rem;

// Spacing //
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;