////////////
// COLORS //
////////////
$light-color: rgba(255, 255, 255, 0.946);
// // Default
// $green: hsl(112, 65%, 75%);
// $dark-green: hsl(92, 44%, 59%);
// // Blue
// $blue: hsl(204, 65%, 75%);
// $dark-blue: hsl(204, 44%, 59%);
// // Orange
// $orange: hsl(26, 64%, 75%);
// $dark-orange: hsl(26, 44%, 59%);
// // Pink
// $pink: hsl(322, 64%, 75%);
// $dark-pink: hsl(332, 44%, 59%);

:root {
    --main-color: hsl(112, 65%, 75%);
    --main-color--lighten-5: hsl(112, 65%, 80%);
    --main-color--lighten-10: hsl(112, 65%, 85%);
    --main-color--lighten-15: hsl(112, 65%, 90%);
    --main-color--lighten-20: hsl(112, 65%, 95%);
    --main-color--lighten-25: hsl(112, 65%, 100%);
    --secondary-color: hsl(112, 44%, 59%);
    --secondary-color--lighten-10: hsl(112, 44%, 69%);
    --secondary-color--lighten-15: hsl(112, 44%, 74%);
    --secondary-color--darken-15: hsl(112, 44%, 44%);
}


// Font Sizes //
$font-size-small: 1.4rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xlarge: 5rem;

// Spacing //
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;